<%= simple_form_for @user, :html => { :class => 'form-horizontal' } do |f| %>
  <fieldset>
    <legend><%= controller.action_name.capitalize %> User</legend>

		<%= f.input :name, class: 'control-group control-label text_field' %>
		<%= f.input :email, class: 'control-group control-label text_field' %>
		<%= f.input :password, class: 'control-group control-label text_field' %>
		<%= f.input :password_confirmation, label: 'Confirmation', class: 'control-group control-label text_field' %>

    <div class="form-actions">
      <%= f.submit nil, :class => 'btn btn-primary' %>
    </div>
  </fieldset>
<% end %>
