<%= render 'shared/error_messages', object: @schedule %>
<%= form_for @schedule, :html => { :class => 'form-horizontal' } do |f| %>
  <fieldset>
    <legend><%= controller.action_name.capitalize %> Schedule</legend>

    <div class="control-group">
      <%= f.label :description, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :description, :class => 'text_field' %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :date, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :date, :class => 'date_select' %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :remember_me, :class => 'control-label' %>
      <div class="controls">
        <%= f.check_box :remember_me, :class => 'check_box' %>
      </div>
    </div>

    <div class="form-actions">
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to 'Cancel', schedules_path, :class => 'btn' %>
    </div>
  </fieldset>
<% end %>
