<h1>Schedules</h1><br/><br/>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Description</th>
      <th>Date</th>
      <th>Remember Me</th>
    </tr>
  </thead>
  <tbody class="schedules">
    <%= render @schedules %>
  </tbody>
</table>

<%= form_for Schedule.new, :html => { :class => 'form-horizontal remote-form' }, remote: true do |f| %>
  <fieldset>
    <legend>New Schedule</legend>

    <div class="control-group">
      <%= f.label :description, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :description, :class => 'text_field' %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :date, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :date, :class => 'date_select' %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :remember_me, :class => 'control-label' %>
      <div class="controls">
        <%= f.check_box :remember_me, :class => 'check_box' %>
      </div>
    </div>

    <div class="buttons-remote-form">
      <%= f.submit nil, :class => 'btn btn-primary' %>
    </div>
  </fieldset>
<% end %>
