<h1>Schedules</h1><br/><br/>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Description</th>
      <th>Remember Me</th>
    </tr>
  </thead>
  <tbody>
    <% @schedules.each do |schedule| %>
      <tr>
        <td><%= link_to schedule.description, schedule_path(schedule) %></td>
        <td><%= schedule.remember_me %></td>
        <td>
          <%= link_to 'Edit', edit_schedule_path(schedule), :class => 'btn btn-mini' %>
          <%= link_to 'Destroy', schedule_path(schedule), :method => :delete, :confirm => 'Are you sure?', :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'New', new_schedule_path, :class => 'btn btn-primary' %>
