<%= simple_form_for @subject, :html => { :class => 'form-horizontal' } do |f| %>
  <fieldset>
    <legend><%= controller.action_name.capitalize %> Subject</legend>

		<%= f.input :name, class: 'control-label text_field' %>
		<%= f.input :status, collection: ['Completed','Registered','Pending'], as: :select %>
		<%= f.input :semester, collection: 1..9, as: :radio_buttons, :item_wrapper_class => 'inline' %>

    <div class="form-actions">
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to 'Cancel', subjects_path, :class => 'btn' %>
    </div>
  </fieldset>
<% end %>