<h1>Subject</h1>

<p>
  <b>Name</b><br>
  <%= @subject.name %>
</p>

<p>
  <b>Status</b><br>
  <%= @subject.status %>
</p>

<p>
  <b>Semester</b><br>
  <%= @subject.semester %>
</p>

<div class="form-actions">
  <%= link_to 'Back', subjects_path, :class => 'btn'  %>
  <%= link_to 'Edit', edit_subject_path(@subject), :class => 'btn' %>
  <%= link_to 'Delete', subject_path(@subject), :method => 'delete', :confirm => 'Are you sure?', :class => 'btn btn-danger' %>
</div>
